header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#main-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-me-blurb {
    max-width: 300px;
}